venv/
.venv/
env/
data/
logs/
.env
__pycache__/
*.pyc
*.sqlite3 # Se ainda tiver o antigo DB localmente, garante que não suba
*.db      # Para qualquer arquivo .db
.DS_Store # macOS
Thumbs.db # Windows